
body{
    font-family: "Poppins", Times, serif;
}

h1{
    color: #F9916B;
}

h2{
    color: #F4D36B;
}

.h2-title{
    color: #fffbfb;
}
.navigate{
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F9916B;
}

.header{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.title-box{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: #B4DCD9;
    padding: 10px;
    margin-bottom: 60px;;

}
img{
    display: flex;
    float: right;
    padding: 2px;
    background-color: aliceblue;
}

.work-skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

.work{
    grid-column: 1;
    color: #B4DCD9;
    padding: 5px;
}

.jobs{
    grid-column: 2/4;
    padding: 5px;
}

.skills{
    grid-column: 2/4;
    padding: 5px;
}

.education{
    color: #B4DCD9;
    padding: 5px;
}

div.gallery{
    margin: 5px;
float: left;
width: 180px;
}
div.gallery img {
    width: 100%;
    height: auto;
    align-items: center;
}

div.gallery:hover {
    border: 1px solid #f1efef;
}
div.desc {
    padding: 15px;
    text-align: center;
}
.follow{
    display: inline-flex;
    flex-direction: row;
    float: left;
    color: #B4DCD9;
    clear: both;
}
.connect{
    display: block;
    float: left;
    padding: 20px;
    clear: both;
    background-color: beige;
}

.footer{
    position: relative;
    clear: both;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
}

.desc{
    color: #3b3b3a;
}